{% extends 'SitePC/base.html' %}
<title>{{ title }}</title>
{% block content %}
<div class="container mt-2 mb-2">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-12 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5">Обращение</h2>
                    {% if success is 1 %}
                    <div class="form-outline text-center" style="color: green">
                        <label class="form-label">Ваше обращение зарегистрировано, ответ будет отправлен по email, а
                            также наш оператор свяжется с Вами!</label>
                    </div>
                    {% endif %}

                    <div class="form-outline mb-1">
                        <label class="form-label" for="name">Ваше имя</label>
                        <input type="text" name="first_name" class="form-control form-control-lg form-input"
                               placeholder="{{user.first_name}}" required="false" id="name" readonly>
                    </div>
                    <div class="form-outline mb-1">
                        <label class="form-label" for="second">Ваша фамилия</label>
                        <input type="text" name="second" class="form-control form-control-lg form-input"
                               placeholder="{{user.last_name}}" required="false" id="second" readonly>
                    </div>
                    <div class="form-outline mb-1">
                        <label class="form-label" for="email">Ваш email</label>
                        <input type="text" name="email" class="form-control form-control-lg form-input"
                               placeholder="{{user.email}}" required="false" id="email" readonly>
                    </div>
                    <div class="form-outline mb-1">
                        <label class="form-label" for="phone">Ваш email</label>
                        <input type="text" name="phone" class="form-control form-control-lg form-input"
                               placeholder="{{user.mobile}}" required="false" id="phone" readonly>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {% for f in form %}
                        <div class="form-outline mb-1">
                            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                            {{ f }}
                        </div>
                        <div class="form-outline" style="color: red">
                            <label class="form-label mw-100">{{ f.errors }}</label>
                        </div>
                        {% endfor %}
                        <div class="d-flex justify-content-center">
                            <button type="submit"
                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                Отправить обращение
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    {% for f in form %}-->
<!--    <div class="form-outline mb-1">-->

<!--        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>-->
<!--        {{ f }}-->
<!--    </div>-->
<!--    <div class="form-outline" style="color: red">-->
<!--        <label class="form-label mw-100">{{ f.errors }}</label>-->
<!--    </div>-->

<!--    {% endfor %}-->
<!--    <button type="submit"-->
<!--            class="btn btn-success btn-block btn-lg">-->
<!--        Отправить-->
<!--    </button>-->
<!--</form>-->


{% endblock %}