

{% extends 'SitePC/base.html' %}

{% block content %}
    <div class="container mt-2 mb-2">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">{{ title }}</h2>
                        <form method="post">
                            {% csrf_token %}
                            {% for f in form %}
                                <div class="form-outline mb-1">
                                    {{ f }}
                                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                                </div>
                                <div class="form-outline" style="color: red">
                                    <label class="form-label mw-100">{{ f.errors }}</label>
                                </div>
                            {% endfor %}
                            <div class="d-flex justify-content-center">
                                <button type="submit"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                    {{ title }}
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
