{% extends 'SitePC/base.html' %}
{% block title %}Profile Page {% endblock title %}
{% block content %}
{% if orders.count == 0 %}
<div class="row col-md-12 mt-2">
    <div class="col col-md-12">
        <p class="text-center">у Вас нет еще ни одного заказа.</p>
    </div>
</div>

{% else %}
<div class="card" style="background-color: #eee; border:none;">
    <div class="card-body">
        <div class="row align-items-center col-md-12">
            <div class="col-md-1 d-flex justify-content-center">
                <div class="text-center text-muted">
                    Номер заказа
                </div>
            </div>
            <div class="col col-md-2 d-flex justify-content-center">
                <div class="text-center text-muted">
                    Адрес доставки

                </div>
            </div>
            <div class="col col-md-5 d-flex justify-content-center">
                <div class="text-center text-muted">
                    Описание заказа
                </div>
            </div>
            <div class="col col-md-2 d-flex justify-content-center">
                <div class="text-center text-muted">
                    Стоимость заказа
                </div>
            </div>
            <div class="col col-md-2 d-flex justify-content-center">
                <div class="text-center text-muted">
                    Дата заказа
                </div>
            </div>
        </div>
    </div>
</div>
{% for order in orders %}
<div class="card" style="">
    <div class="card-body">
        <div class="row align-items-center col-md-12">
            <div class="col-md-1 d-flex justify-content-center">
                <div class="text-center">
                    {{ order.id }}
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
                <div class="text-center">
                    {{order.address}}
                </div>
            </div>


            <div class="col-md-5 justify-content-center">
                {% for v in order.products.all %}

                <div class="text-left">
                    Наименование товара: {{v.title}}
                    Описание: {{v.cpu}}, {{ v.cpu.count_core }} * {{ v.cpu.value }}
                    ГГц,
                    {% if v.count_ram == 1 %}
                    {{ v.ram.memory }}
                    {% else %}
                    {{ v.count_ram }} * {{ v.ram.memory }}
                    {% endif %}
                    ГБ {{ v.ram.type }},
                    {{ v.video }}, SSD
                    {% if v.count_data == 1 %}
                    {{ v.data.memory }}
                    {% else %}
                    {{ v.count_data }} * {{ v.data.memory }}
                    {% endif %}
                    ГБ
                    {% for od in all_Orders_PCS %}
                    {% if order.id is od.order_id %}
                    {% if v.id is od.pc_id %}
                    Количество: {{ od.count }}
                    {% else %}
                    {% endif %}
                    {% else %}
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="col-md-2 justify-content-center">
                <div class="text-center">
                    {{order.price}}
                </div>
            </div>
            <div class="col-md-2 justify-content-center">
                <div class="text-center">
                    {{order.date}}
                </div>
            </div>

        </div>


    </div>
</div>
{% endfor %}
{% endif %}


<!--{% for order in orders %}-->
<!--    Номер заказа - {{order.order.id}}-->
<!--    Позиции - {{order.pc.title}}-->
<!--    Категория - {{order.pc.cat.name}}-->
<!--    Количество - {{order.count}}-->
<!--    Адрес - {{order.order.address}}-->

<!--{% endfor %}-->

{% endblock content %}