{% extends 'SitePC/base.html' %}
<title>{{ title }}</title>
{% block content %}
<div class="container">
    <div class="row h3 mb-4 mt-2">Характеристики {{ post.title }}</div>
    <div class="row border border-5" style="background-color: white">
        <div class="col-md-3 mt-3">
            <img src="{{ post.photo.url }}" class="card-img">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <p class="card-title title_content">{{ post.cpu }}, {{ post.cpu.count_core }} * {{ post.cpu.value }}
                    ГГц,
                    {% if post.count_ram == 1 %}
                    {{ post.ram.memory }}
                    {% else %}
                    {{ post.count_ram }} * {{ post.ram.memory }}
                    {% endif %}
                    ГБ {{ post.ram.type }},
                    {{ post.video }}, SSD
                    {% if post.count_data == 1 %}
                    {{ post.data.memory }}
                    {% else %}
                    {{ post.count_data }} * {{ post.data.memory }}
                    {% endif %}
                    ГБ</p>
                <p class="text-justify title_content">{{ post.content }}</p>
            </div>
        </div>
    </div>

    <div class="row g-2 mt-2 border border-5 mb-3" style="background-color: white">
        <div class="col-md-8  border border-5">
            <p class="text-center title_content h2 p-2">Характеристики {{ post.title }}</p>
            <p class="font-weight-bold mb-2">Общие параметры</p>
            <div class="row">
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Модель
                    </div>
                </div>
                <div class="col-md-4">{{ post.title }}
                </div>
            </div>

            <p class="font-weight-bold mb-2">Процессор</p>
            <div class="row">
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Модель процессора
                    </div>
                </div>
                <div class="col-md-4">{{ post.cpu.title }}
                </div>
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Количество ядер процессора
                    </div>
                </div>
                <div class="col-md-4">{{ post.cpu.count_core }}
                </div>
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Количество потоков
                    </div>
                </div>
                <div class="col-md-4">{{ post.cpu.count_threads }}
                </div>
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Частота процессора
                    </div>
                </div>
                <div class="col-md-4">{{ post.cpu.value }} ГГц
                </div>
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Автоматическое увеличение частоты
                    </div>
                </div>
                <div class="col-md-4">{{ post.cpu.max_value }} ГГц
                </div>
            </div>
            <p class="font-weight-bold mb-2">Материнская плата</p>
            <div class="row">
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Наименование
                    </div>
                </div>
                <div class="col-md-4 mb-3">{{ post.mother.title }}
                </div>
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Сокет
                    </div>
                </div>
                <div class="col-md-4 mb-3">{{ post.mother.socket }}
                </div>
            </div>

            <p class="font-weight-bold mb-2">Видеокарта</p>
            <div class="row">
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Тип
                    </div>
                </div>
                <div class="col-md-4 mb-3">{{ post.video.type }}
                </div>
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Наименование
                    </div>
                </div>
                <div class="col-md-4 mb-3">{{ post.video.title }}
                </div>

                {% if post.video.type_id == 1 %}
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Тип видеопамяти
                    </div>
                </div>
                <div class="col-md-4 mb-3">{{ post.video.type_memory }}
                </div>
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Объем видеопамяти
                    </div>
                </div>
                <div class="col-md-4 mb-3">{{ post.video.memory }} ГБ
                </div>

                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Штатная частота работы видеочипа
                    </div>
                </div>
                <div class="col-md-4 mb-3">{{ post.video.value }} МГц
                </div>

                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Турбочастота
                    </div>
                </div>
                <div class="col-md-4 mb-3">{{ post.video.max_value }} МГц
                </div>
                {% else %}
                {% endif %}
            </div>


            <p class="font-weight-bold mb-2">Оперативная память</p>
            <div class="row">
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Тип
                    </div>
                </div>
                <div class="col-md-4">{{ post.ram.type }}
                </div>
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Модель
                    </div>
                </div>
                <div class="col-md-4">{{ post.ram.title }}
                </div>


                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Объем 1 плашки
                    </div>
                </div>
                <div class="col-md-4">{{ post.ram.memory }} ГБ
                </div>

                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Количество плашек
                    </div>
                </div>
                <div class="col-md-4">{{ post.count_ram }} шт.
                </div>
            </div>
            <p class="font-weight-bold mb-2">Операционная система</p>
            <div class="row">
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Тип операционной системы
                    </div>
                </div>
                <div class="col-md-4">{{ post.oc }}
                </div>
            </div>

            <p class="font-weight-bold mb-2">Накопители данных</p>
            <div class="row">
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Наименование накопителя данных
                    </div>
                </div>
                <div class="col-md-4">{{ post.data.title }}
                </div>

                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Объем памяти
                    </div>
                </div>
                <div class="col-md-4">{{ post.data.memory }} ГБ
                </div>

                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        Количество накопителей данных
                    </div>
                </div>
                <div class="col-md-4">{{ post.count_data }} шт.
                </div>
            </div>

        </div>
        <div class="col-md-4 border border-5">
            <div class="p-2">
                <p class="text-center title_content h2">Заказ</p>
            </div>
            <div class="row">
                <div class="col-md-8 border-end mb-2">
                    <div style="border-bottom: dotted black; border-bottom-width: 2px;">
                        <p class="font-weight-bold mb-2">Стоимость</p>
                    </div>
                </div>
                <div class="col-md-4">{{ post.price }} &#8381;
                </div>
            </div>
            <div class="row text-center">
                <div class="col text-center">
                    {% if request.user.is_authenticated %}
                    {% if key is False %}
                    <form action="{% url 'cart:cart_add' post.id %}" method="post">
                        {{ cart_pc_form }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-success">В корзину</button>
                    </form>
                    {% else %}
                    <p>Товар уже в корзине <i class="fa fa-check green-color" aria-hidden="true"></i></p>
                    {% endif %}
                    {% else %}
                    <p class="text-center title_content h2">Авторизируйтесь, чтобы добавить товар в корзину</p>
                    {% endif %}
                </div>

            </div>


        </div>
    </div>
</div>

{% endblock %}