{% extends 'SitePC/base.html' %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                                                                                             width="150px"
                                                                                             src="/media/profiles/profile.png"><span
                        class="font-weight-bold">{{ user.first_name }} {{ user.last_name }}</span>
                    <span class="text-black-50">{{ user.email }}</span>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Ваши данные</h4>
                    </div>


                    {#Здесь сделать вывод {{ f }} - наши данные уже с формс.ру с accounts#}
                    <form method="post">
                        {% csrf_token %}
                        <div class="row mt-2">
                            {% for f in form %}
                                {% if f.name == 'first_name' or f.name == 'last_name' %}
                                    <div class="col-md-6">
                                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                                        {{ f }}
                                        <div class="form-outline" style="color: red">
                                            <label class="form-label mw-100">{{ f.errors }}</label>
                                        </div>
                                    </div>

                                {% endif %}

                            {% endfor %}
                        </div>
                        <div class="row mt-3">
                            {% for f in form %}
                                {% if f.name != 'first_name' and f.name != 'last_name' %}
                                    <div class="col-md-12">
                                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                                        {{ f }}
                                        <div class="form-outline" style="color: red">
                                            <label class="form-label mw-100">{{ f.errors }}</label>
                                        </div>
                                    </div>


                                {% endif %}
                            {% endfor %}
                        </div>


                        <button type="submit"
                                class="btn btn-success btn-block btn-lg">
                            Отправить
                        </button>
                    </form>
                </div>
            </div>


            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i
                            class="fa fa-plus"></i>&nbsp;Experience</span></div>
                    <br>
                    <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"
                                                                                                       class="form-control"
                                                                                                       placeholder="experience"
                                                                                                       value=""></div>
                    <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"
                                                                                                  class="form-control"
                                                                                                  placeholder="additional details"
                                                                                                  value=""></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}