* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;

}

.footer {
    flex: 0 0 auto;
}

.text {
    text-align: center;
}
.main_section{
  background-color: #eee;
  height: 100%
}