{% extends "SitePC/base.html" %}
{% load static %}

{% block title %}
Корзина покупок
{% endblock %}

{% block content %}
{% if len is not 0 %}
<div class="card" style="background-color: #eee; border:none;">
    <div class="card-body">
        <div class="row align-items-center col-md-12 ">
            <div class="col col-md-2">
            </div>
            <div class="col-md-2 d-flex justify-content-center">
                <div class="text-center text-muted">
                    Наименование
                </div>
            </div>
            <div class="col col-md-2 d-flex justify-content-center">
                <div class="text-center text-muted">
                    Краткое описание
                </div>
            </div>
            <div class="col col-md-2 d-flex justify-content-center">
                <div class="text-center text-muted">
                    Количество
                </div>
            </div>
            <div class="col col-md-1 d-flex justify-content-center">
                <div class="text-center text-muted">
                    Стоимость за шт.
                </div>
            </div>
            <div class="col col-md-2 d-flex justify-content-center">
                <div class="text-center text-muted">
                    Итоговая стоимость
                </div>
            </div>
            <div class="col col-md-1 d-flex justify-content-center">
                <div class="text-center text-muted">
                    Удалить из корзины
                </div>
            </div>
        </div>
    </div>
</div>
{% for item in cart %}
{% with product=item.product %}
<div class="card">
    <div class="card-body">
        <div class="row align-items-center col-md-12">
            <div class="col-md-2 justify-content-center">
                <img src="{{ product.photo.url }}"
                     class="img-thumbnail">
            </div>
            <div class="col-md-2 justify-content-center">
                <div class="text-center">{{ product.title }}</div>
            </div>
            <div class="col-md-2 justify-content-center">
                <div class="text-center">
                    {{ product.cpu }}, {{ product.cpu.count_core }} * {{ product.cpu.value }}
                    ГГц,
                    {% if product.count_ram == 1 %}
                    {{ product.ram.memory }}
                    {% else %}
                    {{ product.count_ram }} * {{ product.ram.memory }}
                    {% endif %}
                    ГБ {{ product.ram.type }},
                    {{ product.video }}, SSD
                    {% if product.count_data == 1 %}
                    {{ product.data.memory }}
                    {% else %}
                    {{ product.count_data }} * {{ product.data.memory }}
                    {% endif %}
                    ГБ
                </div>
            </div>

            <div class="col-md-2 justify-content-center">
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    <div class="text-center">
                        <button class="btn btn-link"
                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="fas fa-minus"></i>
                        </button>
                        {{ item.update_quantity_form.quantity }}
                        <button class="btn btn-link"
                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    {{ item.update_quantity_form.update }}
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-md-1 justify-content-center">
                <div class="text-center">{{ item.price }}</div>
            </div>
            <div class="col-md-2 justify-content-center">
                <div class="text-center">{{ item.total_price }}</div>
            </div>
            <div class="col-md-1 justify-content-center">
                <div class="text-center">
                    <a href="{% url 'cart:cart_remove' product.id %}" style="color:red;"><i
                            class="fa fa-trash red-color" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endfor %}
<div class="row col-md-12 p-3">
    <div class="col col-md-12 text-center">ОФОРМЛЕНИЕ ЗАКАЗА <i class="fa fa-shopping-cart green-color"
                                                                aria-hidden="true"></i></div>
</div>

<div class="card mb-5">
    <div class="card-body p-4">
        <form action="{% url 'orders_add' %}" method="post">
            <div class="row col-md-12">
                <div class="col col-md-6">
                    <div class="d-flex flex-row pb-3">
                        <div class="d-flex align-items-center pe-2">
                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1v"
                                   value="1" aria-label="" checked/>
                        </div>
                        <div class="rounded border w-100 p-3">
                            <div class="d-flex align-items-center mb-0">
                                <i class="fab fa-cc-mastercard fa-2x text-dark pe-2"></i>
                                <div class="pay ml-2"> Оплата по QR коду</div>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row pb-3">
                        <div class="d-flex align-items-center pe-2">
                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"
                                   value="2" aria-label=""/>
                        </div>
                        <div class="rounded border w-100 p-3">
                            <div class="d-flex align-items-center mb-0">
                                <i class="fab fa-cc-visa fa-2x fa-lg text-dark pe-2"></i>
                                <div class="pay ml-2">Оплата при получении</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="row">
                        <div class="col col-md-6 p-2">Стоимость заказа:</div>
                        <div class="col col-md-6 p-2"><input class="form-control" type="text"
                                                             placeholder="{{ cart.get_total_price }}" name="total_price"
                                                             id="total_price"
                                                             value="{{ cart.get_total_price }}"
                                                             readonly></div>

                        <div class="col col-md-6 p-2">Фамилия и имя:</div>
                        <div class="col col-md-6 p-2"><input class="form-control"
                                                             placeholder="{{user.last_name}} {{user.first_name}}"
                                                             id="user"
                                                             name="user" readonly></div>
                        <div class="col col-md-6 p-2">Адрес доставки:</div>
                        <div class="col col-md-6 p-2"><input class="form-control"
                                                             placeholder="Ваш адрес"
                                                             id="address"
                                                             name="address" required>
                        </div>
                    </div>
                </div>
                <input class="form-control" hidden="hidden"
                       name="user" id="{{user.id}}">
            </div>
            <div class="row col-md-12">
                <div class="col col-md-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-success">Оформить заказа</button>
                    </div>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>

{% else %}
<div class="row col-md-12 p-5">
    <div class="col col-md-12 text-center">
        <h1>Корзина пуста</h1>
    </div>
</div>
{% endif %}

{% endblock %}